
<section>
  <% @users.each do |user| %>
  <div>
    <%= image_tag user.photo %> 
    <h2><%= link_to user.name, user_path(user) %></h2>
    <p>Number of post<%= user.posts_counter %></p>
  </div>
  <% end %>
</section>
